.fa-question {

}

mat-toolbar {
  padding: 0 25px;
}

.icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 15px 0px;
  color: #333;
  cursor: pointer;
}

.icon:hover {
  color: darkblue;
}

.icon-label {
  font-size: 12px;
}

.animation-container {
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.animation {
  width: 100%;
  display: inline-block;
  flex-shrink: 0;
}

.container {
  margin: 3% 0%;
  border: lightslategrey solid;
  padding: 2em;
  box-sizing: border-box;
  width: 100%;
}

.questions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.published {
  margin: 1em 0;
}

.is-correct {
  font-size: 0.7em;
  margin: 0 3%;
}

.btn-delete {
  width: 18px;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  min-width: 18px;
  line-height: 9px;
  margin-left: auto;
}

.btn-delete .material-icons {
  font-size: 12px;
}

.btn-delete .mat-icon {
  height: 12px;
  width: 12px;
}

.question-number, .answer-number{
  width: 15%;
  margin-right: 3%;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard-arrow-btns {
  width: 25px;
  cursor: pointer;
  margin-top: 5px;
}

.keyboard-arrows-icon {
  font-size: 12px;
  line-height: 2;
}

.question-toggle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0px 5px;
}

button {
  width: 45%;
  margin-top: 1em;
}

button[type="submit"] .preview {
  margin-top: 2em;
}

.question-header .answer-header {
  margin-block-end: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.clear {
  background-color: #fff;
}
