<form [formGroup]="testForm" (ngSubmit)="onSubmit()" autofilled="false"
      autocomplete="off">
  <mat-toolbar>
    <nav>
      <div type="button" (click)="addMultipleChoiceQuestion()" id="add-question-btn" class="icon selected">
        <i class="fas fa-plus"></i>
        <span class="icon-label">Add Question</span>
      </div>
      <div type="button" (click)="openDialog()" id="preview-test-button" class="icon selected">
        <i class="fas fa-search"></i>
        <span class="icon-label">Preview Test</span>
      </div>
      <div type="button" id="save-test-button" class="icon selected" (click)="formSubmit.click()">
        <i class="fas fa-save"></i>
        <span class="icon-label">Save Test</span>
      </div>
      <button hidden #formSubmit type="submit"></button>
    </nav>
  </mat-toolbar>

  <mat-toolbar class="d-flex justify-content-center align-items-center clear">
    <button (click)="toggleQuestionDown()" id="keyboard-arrow-left" class="keyboard-arrow-btns d-flex justify-context-center" aria-label="question-back-button" type="button">
      <mat-icon class="keyboard-arrows-icon"
                aria-hidden="false"
                aria-label="question-back-button-icon">keyboard_arrow_left</mat-icon>
    </button>
    <p class="question-toggle"><span id="selected-question">{{selectedQuestion}}</span>/<span id="total-questions">{{questionsTotal}}</span></p>
    <button (click)="toggleQuestionUp()" id="keyboard-arrow-right" class="keyboard-arrow-btns d-flex justify-context-center" aria-label="question-back-button" type="button">
      <mat-icon class="keyboard-arrows-icon"
                aria-hidden="false"
                aria-label="question-back-button-icon">keyboard_arrow_right</mat-icon>
    </button>
  </mat-toolbar>

  <div class="d-flex flex-column">
    <mat-form-field appearance="standard" class="w-50">
      <mat-label>Name of Test</mat-label>
      <input id="test-name" matInput type="text" formControlName="name" autofilled="false"
             autocomplete="off" required/>
      <mat-error *ngIf="testForm.get('name').hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-25">
      <mat-label>Passing Grade</mat-label>
      <input id="passing-grade" matInput type="number" formControlName="passingGrade" max="100" min="0" autofilled="false"
             autocomplete="off" required/>
      <mat-error *ngIf="testForm.get('passingGrade').hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
    <mat-checkbox id="checkbox-published" class="published" formControlName="published">Published</mat-checkbox>
  </div>

  <section *ngIf="testForm.get('multipleChoiceQuestions').value.length">
    <div formArrayName="multipleChoiceQuestions"
         *ngFor="let question of testForm.get('multipleChoiceQuestions').controls; let i = index" class="w-100">
      <div [@flyInOut] [formGroupName]="i" *ngIf="isSelectedQuestion(i)">
        <div class="questions">
          <div class="question-entry container w-50">
            <mat-form-field appearance="standard" class="question-number">
              <mat-label>Question #</mat-label>
              <input matInput type="number" formControlName="id" value="{{i + 1}}" autofilled="false"
                     autocomplete="off" readonly/>
            </mat-form-field>
            <mat-form-field appearance="standard" class="w-75">
              <mat-label>Question</mat-label>
              <textarea formControlName="question" matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        autofilled="false"
                        autocomplete="off"
                        required
                        id="question-{{i + 1}}"
              ></textarea>
              <mat-error *ngIf="testForm.get('multipleChoiceQuestions').controls[i].hasError('required')">
                Required
              </mat-error>
            </mat-form-field>

            <section>
              <header>
                <h4 class="answer-header">Answers</h4>
                <mat-error *ngIf="question.get('answers').hasError('required') && !question.get('answers').pristine">
                  Required
                </mat-error>
              </header>
              <div formGroupName="answers"
                   *ngFor="let answer of question.get('answers').controls; let j = index;">
                <div [@flyInOut] class="answer" [formGroupName]="j">
                  <mat-form-field appearance="standard" class="answer-number">
                    <mat-label>Answer #</mat-label>
                    <input matInput type="number" formControlName="id" value="{{j + 1}}" autofilled="false"
                           autocomplete="off" readonly/>
                  </mat-form-field>
                  <mat-form-field class="w-50" appearance="standard">
                    <mat-label>Answer Text</mat-label>
                    <textarea formControlName="answer" col="10" matInput cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              autofilled="false"
                              autocomplete="off"
                              required
                              id="answer-{{i}}-{{j}}"
                    ></textarea>
                    <mat-error *ngIf="testForm.get('multipleChoiceQuestions').controls[i].get('answers').controls[j].get('answer').hasError('required')">
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-checkbox id="is-correct-checkbox-{{i}}-{{j}}" class="is-correct" formControlName="isCorrect">Correct Answer?</mat-checkbox>
                  <button id="delete-answer-btn-{{i}}-{{j}}" class="btn-delete" (click)="deleteAnswer(i, j)" type="button" mat-raised-button color="warn">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <div class="btn-group">
                <button id="add-answer-btn-{{i}}" (click)="addAnswer(i)" type="button" mat-raised-button>New Answer</button>
              </div>
            </section>
          </div>

          <app-question-preview class="container w-50"
                                [question]="question"
          ></app-question-preview>

        </div>
        <button (click)="deleteMultipleChoiceQuestion(i)" id="delete-question-btn-{{i}}" type="button"
                mat-raised-button color="warn">Delete Question</button>
      </div>
    </div>
  </section>

  <app-form-validation-messages *ngIf="hasErrors()" [errors]="errors"></app-form-validation-messages>
</form>


