.fa-question {

}

mat-toolbar {
  padding: 0 25px;
}

.icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 15px 0px;
  color: #333;
  cursor: pointer;
}

.icon:hover {
  color: darkblue;
}

.icon-label {
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 3% auto;
  border: lightslategrey solid;
  padding: 2em;
}

.questions {
  max-width: 100%;
  margin: 1.5em 0 .5em 0;
}

.answers {
  border: lightslategrey solid 1px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 45%;
  margin-top: 1em;
}

button[type="submit"] .preview {
  margin-top: 2em;
}

.question-header .answer-header {
  margin-block-end: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
