<form [formGroup]="testForm" (ngSubmit)="onSubmit()" autofilled="false"
      autocomplete="off">
  <mat-toolbar>
    <nav>
      <div type="button" (click)="addMultipleChoiceQuestion()" class="icon selected">
        <i class="fas fa-question"></i>
        <span class="icon-label">Add Question</span>
      </div>
    </nav>
  </mat-toolbar>

  <mat-toolbar class="d-flex justify-content-center align-items-center clear">
    <button (click)="toggleQuestionDown()" class="keyboard-arrow-btns d-flex justify-context-center" aria-label="question-back-button" type="button">
      <mat-icon class="keyboard-arrows-icon"
                aria-hidden="false"
                aria-label="question-back-button-icon">keyboard_arrow_left</mat-icon>
    </button>
    <p class="question-toggle"><span>{{selectedQuestion}}</span>/<span>{{questionsTotal}}</span></p>
    <button (click)="toggleQuestionUp()" class="keyboard-arrow-btns d-flex justify-context-center" aria-label="question-back-button" type="button">
      <mat-icon class="keyboard-arrows-icon"
                aria-hidden="false"
                aria-label="question-back-button-icon">keyboard_arrow_right</mat-icon>
    </button>
  </mat-toolbar>

  <div class="d-flex flex-column">
    <mat-form-field appearance="standard" class="w-50">
      <mat-label>Name of Test</mat-label>
      <input matInput type="text" formControlName="name" autofilled="false"
             autocomplete="off" required>
      <mat-error *ngIf="testForm.get('name').hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-25">
      <mat-label>Passing Grade</mat-label>
      <input matInput type="number" formControlName="passingGrade" max="100" min="0" autofilled="false"
             autocomplete="off"/>
      <mat-error *ngIf="testForm.get('passingGrade').hasError('required')">
        Required
      </mat-error>
    </mat-form-field>
    <mat-checkbox class="published" formControlName="published">Published</mat-checkbox>
  </div>

  <section *ngIf="testForm.get('multipleChoiceQuestions').value.length">
    <div formArrayName="multipleChoiceQuestions"
         *ngFor="let question of testForm.get('multipleChoiceQuestions').controls; let i = index" class="w-100">
      <div [@flyInOut] [formGroupName]="i" *ngIf="isSelectedQuestion(i)">
        <div class="questions">
          <div class="question-entry container w-50">
            <mat-form-field appearance="standard" class="question-number">
              <mat-label>Question #</mat-label>
              <input matInput type="number" formControlName="id" value="{{i + 1}}" autofilled="false"
                     autocomplete="off" readonly/>
            </mat-form-field>
            <mat-form-field appearance="standard" class="w-75">
              <mat-label>Question</mat-label>
              <textarea formControlName="question" matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        autofilled="false"
                        autocomplete="off"></textarea>
              <mat-error *ngIf="testForm.get('multipleChoiceQuestions').controls[i].hasError('required')">
                Required
              </mat-error>
            </mat-form-field>

            <section>
              <header>
                <h4 class="answer-header">Answers</h4>
                <mat-error *ngIf="question.get('answers').hasError('required')">
                  Required
                </mat-error>
                <mat-error *ngIf="question.get('answers').hasError('none')
               && !(question.get('answers').hasError('required'))">
                  A correct answer is required
                </mat-error>
                <mat-error *ngIf="question.get('answers').hasError('multiple')
               && !(question.get('answers').hasError('required'))">
                  There may only be 1 correct answer
                </mat-error>
              </header>
              <div formGroupName="answers"
                   *ngFor="let answer of question.get('answers').controls; let j = index;">
                <div class="answer" [formGroupName]="j">
                  <mat-form-field appearance="standard" class="answer-number">
                    <mat-label>Answer #</mat-label>
                    <input matInput type="number" formControlName="id" value="{{j + 1}}" autofilled="false"
                           autocomplete="off" readonly/>
                  </mat-form-field>
                  <mat-form-field class="w-50" appearance="standard">
                    <mat-label>Answer Text</mat-label>
                    <textarea formControlName="answer" col="10" matInput cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              autofilled="false"
                              autocomplete="off"></textarea>
                    <mat-error *ngIf="testForm.get('multipleChoiceQuestions').controls[i].get('answers').controls[j].get('answer').hasError('required')">
                      Required
                    </mat-error>
                  </mat-form-field>
                  <mat-checkbox class="is-correct" formControlName="isCorrect">Correct Answer?</mat-checkbox>
                  <button class="btn-delete" (click)="deleteAnswer(i, j)" type="button" mat-raised-button color="warn">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <div class="btn-group">
                <button (click)="addAnswer(i)" type="button" mat-raised-button>New Answer</button>
              </div>
            </section>
          </div>
          <app-question-preview class="container w-50"
                                [question]="question"
          ></app-question-preview>
        </div>
        <button (click)="deleteMultipleChoiceQuestion(i)" type="button" mat-raised-button color="warn">Delete Question</button>
      </div>
    </div>
  </section>

  <app-form-validation-messages *ngIf="hasErrors()" [errors]="errors"></app-form-validation-messages>
  <div class="btn-group">
    <button type="button" class="preview"
          mat-raised-button color="accent" (click)="openDialog()">Preview Test</button>
    <button type="submit"
          mat-raised-button color="primary">Save Test</button>
  </div>
</form>


