.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 3% auto;
  border: lightslategrey solid;
  padding: 2em;
}

.questions {
  max-width: 100%;
  margin: .5em 0;
}

button {
  width: 50%;
  margin-top: 1em;
}

button[type="submit"] {
  margin-top: 2em;
}

.question-header .answer-header {
  margin-block-end: 0;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
